/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]::after {
        content: " (" attr(href) ")";
    }
    abbr[title]::after {
        content: " (" attr(title) ")";
    }
    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* css root variables */


/* define the colors so thatyou can change the colors on fly */

:root {
    --background-color: #ffffff;
    --button-background: transparent linear-gradient(57deg, #6362D7 0%, #FF8FE2 100%) 0% 0% no-repeat padding-box;
    --background-color1: #ededed7a;
    --background-color2: #403595;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

dl,
ol,
ul {
    list-style-type: none;
    margin: 0px
}

@font-face {
    font-family: poppins-black;
    src: url(../fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-extra-bold;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: poppins-extra-light;
    src: url(../fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: poppins-bold
}

p,
input,
label,
strong,
button {
    font-family: poppins-regular
}

a {
    font-family: poppins-light
}


/* common-classes starts */

.card-shadow {
    box-shadow: 0px 20px 60px #3E3E3E29;
    border-radius: 8px;
}

.btn-common {
    background: var(--button-background);
    color: white
}

.btn-common:hover {
    color: white
}

.common-section-padding {
    padding: 4% 0%
}

.width-100 {
    width: 100%
}
.common-title-style{
   
    display: block;
    position: relative;
    margin-bottom: 40px;
}
.common-title-style .title:after{
   
    display: block;
    background: url(../img/section-heading.png) no-repeat;
    background-size: cover;
    width: 85px;
    height: 8px;
    bottom: 0;
    left: 0;
    content: '';
    margin: 0 auto;
    margin-top: 10px;
}

/* common class ends */


/* menu css starts */

.custom-nav-link .nav-link:last-child{
    background: var(--background-color2);
    color: white;
    border-radius: 4px;
    margin-left: 10px;
}
.navbar-light .navbar-nav .nav-link{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* menu css ends */

/* banner css starts */
.home-banner{
    padding-bottom: 4%;
}
/* banner css ends */

/* sections css starts */

.section-one {
    background: var(--background-color1);
}


h3.section-title {
    font-size: 2.3rem;
    margin-bottom: 18px;
    text-align: justify
}

p.section-para {
    color: #746d6d;
    font-size: 1.1rem;
    padding-right: 10%;
    text-align: justify;
}

/* sections css ends */

/* client sections css starts */
.clients{
    background: var(--background-color2)
}

/* client sections css ends */

/* product screen shot css starts */
.screen-shot{

}
.screen-shot .screen-shot-wrapper{

}
.product-display-controls{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px 6px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}
/* product screen shot css ends */


/* tabs section starts */

#tabs {}

#tabs h6.section-title {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 2px solid !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #000000;
    font-size: 14px;
}


/* tabs section ends */


/* testimonial sections starts */
.testimonials {
    /* background: var(--background-color1); */
}
.testimonial-wrapper{

}
.testimonial-wrapper .testimonial-image-wrapper{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 20px 60px #3E3E3E29;
}
.testimonial-words{
    margin-top: 20px;
    padding: 2% 10%;
    position: relative;
}
.testimonial-words p.para{

}
.testimonial-words .left-icn{
    position: absolute;
    left: 0px;  
}
.testimonial-words .right-icn{
    position: absolute;
    right: 0px;
}
.cntrls i.fa{
    color: #000
}
.cntrls .testimonial-controls{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px 6px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px
}


/* testimonial section ends */


/* contact form section starts */

.contact-form {
    padding: 4%;
}

.home-page-contact {
    padding: 5%
}

.form-control:focus {
    box-shadow: 0px 0px 0px 0px;
}

.custom-input {
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ededed;
    border-radius: 0px;
    padding-top: 0px;
}


/* contact form section ends */


/* common footer  section starts */

.common-footer {
    padding: 2% 0%;
    background: #ededed8a
}

.footer-widget ul li a {
    text-decoration: none;
    color: #000
}

.default-logo {
    margin-bottom: 10px
}

.social_square_icons ul {}

.social_square_icons ul li:first-child {
    margin-left: 0px
}

.social_square_icons ul li a {
    float: left;
    line-height: 40px;
    color: #e0e0e0;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.gap {
    margin-right: 10px
}

.social_icons_rounded ul li a i {
    font-size: 16px
}

.f_facebook:hover {
    color: #fff;
    background: #2a66b3;
    border: 1px solid #2a66b3
}

.t_twitter:hover {
    color: #fff;
    background: #35bbec;
    border: 1px solid #35bbec
}

.pinterest:hover {
    color: #fff;
    background: #cb2027;
    border: 1px solid #cb2027
}

.linkedin:hover {
    color: #fff;
    background: #007bb5;
    border: 1px solid #007bb5
}

.g_google:hover {
    color: #fff;
    background: #e55644;
    border: 1px solid #e55644
}

.dribbble:hover {
    color: #fff;
    background: #ea4c89;
    border: 1px solid #ea4c89
}

.skype:hover {
    color: #fff;
    background: #01aaf8;
    border: 1px solid #01aaf8
}

.flickr:hover {
    color: #fff;
    background: #ff0084;
    border: 1px solid #ff0084
}


/* common footer  section ends */